[package]
name = "compiler"
version = "0.1.0"
edition = "2024"

[dependencies]
common = { path = "../common" }
codegen = { path = "../codegen" }
parser = { path = "../parser" }
serde = { version = "1.0.228", features = ["derive"] }
imports = { path = "../imports" }